.container{
    display: flex;
    flex-direction: column;
    text-align:center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
textarea, input:not([type='submit']){
    height:50px;
    padding-left: 16px;
    width: 250px;

}
textarea{
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input,textarea{
    border-radius: 16px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color:var(--form-text-color);
}
::placeholder{
    color: var(--form-text-color);
}
input[type="submit"]{
    background-color: var(--btn-color);
   
    border-radius: 16px;
    width: 126px;
    height: 50px;
    color: var(--btn-text-color);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 300ms ease-in-out, transform 400ms ease-in-out;
    align-self: center;

}
input[type="submit"]:hover{
    transform: scale(1.05);
    background-color:#1b77c7;
    color: rgb(240, 240, 240);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 3px rgb(21, 54, 62));
    -webkit-filter: drop-shadow(0 0 3px rgb(21, 54, 62));
  
}
input[type="submit"]:active{
    transform: scale(1.05);
    background-color:#0f39d0;
    color: rgb(240, 240, 240);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 3px rgb(21, 54, 62));
    -webkit-filter: drop-shadow(0 0 3px rgb(21, 54, 62));
  
}